.trelloCard {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  min-height: 20px;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0 1px 0 rgb(9 30 66 / 25%);
  cursor: pointer;
  overflow-y: auto;
  overflow-x: auto;
  outline: none;
}
.trelloCard:hover{
  background-color: rgba(9,30,66,.01);
 
}
.commentInfo{
  color:#6b778c; 
}
