.inputContainer {
  min-width: 198px;
}
.addButtonCard {
  border-radius: 5px;
  height: 40px;
  line-height: 30px;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  background-color: #ebecf0;
  transition: all 0.2s ease-in;
  margin-left: 10px;
  padding-left: 5px;
  width: 94%;
  margin-bottom: 3px;

}
.addButtonCard h6 {
  line-height: 40px;
  color: #172b4d;
}
.addButtonCard:hover {
  background-color: rgba(9, 30, 66, 0.13);
  cursor: pointer;
}
.addButtonList {
  border-radius: 5px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  background: hsla(0, 0%, 100%, 0.3);
  padding-top: 5px;
  text-indent: 10px;
  width: 198px;
  display: flex;
}
.addButtonList:hover {
  color: #fff;
  background: hsla(0, 0%, 100%, 0.4);
  cursor: pointer;
}

.timesIcon {
  margin-left: 10px;
  font-size: 20px;
  color: gray;
  cursor: pointer;
}
